<% content_for :css do
    stylesheet_link_tag 'application'
end %>

<div>
  <div id="grid"></div>
  <pre id="json"></pre>
  <div id="barcode"></div>
</div>


<script>
var process_steps = <%= raw @process_steps.to_json %>;

document.getElementById("json").innerHTML = JSON.stringify(process_steps, undefined, 2);

$(document).ready(function() {
  $('#grid').kendoGrid({
    dataSource: {
      data: process_steps,
    }


  })
    $("#barcode").kendoBarcode({
        value:"1234567",
        type:"ean8"
    });
});

</script>